<div class="navbar">
<div class="navbar-inner">
<ul class="breadcrumb">
<i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
<i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>  
<li>
<?php echo $this->Html->getCrumbs('<span class="divider"> / </span>', array(
    'text' => 'Dashboard',
    'url' => array('controller' => 'users', 'action' => 'index'),
    'escape' => false
)); ?></li>
</ul>
</div>
</div>