<?php ob_start();?>
<html>
  <head>
    <style>
      body { margin: 0; padding: 10; }
      table { width: 100%; height: 100%; border: none; }
      td { width: 25%; height:94pt; overflow:hidden; }
	  th { width: 25%; height:94pt; }
      #page-wrapper { width: 576pt; height: 756pt; }
      td div { background-color: #eee; height: 100%;} 
      td.section-1 { padding: 0 18pt 18pt 0; }
      td.section-2 { padding: 0 0 18pt 18pt; }
      td.section-3 { padding: 18pt 18pt 0 0; }
      td.section-4 { padding: 18pt 0 0 18pt; }
	  
	  td.container > div { width: 100%; height: 94pt !important; overflow:hidden; }
td.container {  }
    </style>
  </head>
  
  <body>
    <div id="page-wrapper">
 <table  style="width:100%; height:100%" border="1"   class="table" id="example">
 	<tr>
     <th><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?>
     </th>
      <th><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?>
     </th>
      <th><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?>
     </th>
      <th><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?>
     </th>
    </tr><?php $j=0;$k=0;foreach ($users as $key1=>$user1):$j++;
   	$firsttd=true;?>
	<?php foreach ($user1['OrderdetailMany'] as $key2=>$user2): ?>
	<?php if($k==0){?><tr nobr="true"><?php } ?>
	<?php if($firsttd){
		$k++;
		$firsttd=false;?><td class="container" nobr="true"><div><u><?php echo $j;?> Submitted Order</u><br />
        <u>Invoice #:<?php echo $user1['OrderDist']['tmporderid']?>-<?php echo date("m/d/Y",strtotime($user2['createddt']))?><br /></u>
        </div></td><?php }?>
		<?php if($k==4){ $k=0;echo "</tr><tr nobr='true'>";}?>
        <td class="container" nobr="true"><div><?php echo $user2['Product']['productname'];?><br /><?php echo $user2['Product']['product_ndc'];?><br />Rate: <?php echo $user2['Product']['PurchasePrice'];?>, AWP: <?php echo $user2['Product']['awp'];?><br />$<hr /></div></td><?php $k++;if($k==4){ $k=0;echo "</tr>";}?>
		<?php  endforeach;?>
		<?php
        $colspan=4-$k;
		echo (count($users)-1==$key1 and $k!=0)?"<td colspan='".$colspan."'>&nbsp;</td></tr>":"";?>
   <?php endforeach;?>
   </table>
   </div>
  </body>
  </html>
<?php   $html = ob_get_clean();
  $html=utf8_encode($html);
?>
<?php App::import('Vendor','xtcpdf');  
define ("PDF_PAGE_FORMAT", "Letter"); 
$tcpdf = new XTCPDF(PDF_PAGE_ORIENTATION, PDF_UNIT, "Letter", true, 'UTF-8', false); 
$textfont = 'freesans'; // looks better, finer, and more condensed than 'dejavusans' 

//$tcpdf->SetAuthor("KBS Homes & Properties at http://kbs-properties.com"); 
//$tcpdf->SetAutoPageBreak( false ); 
//$tcpdf->setHeaderFont(array($textfont,'',40)); 
//$tcpdf->xheadercolor = array(150,0,0); 
//$tcpdf->xheadertext = 'KBS Homes & Properties'; 
$tcpdf->xfootertext = ''; 
$tcpdf->SetPrintHeader(false);
$tcpdf->SetPrintFooter(false);
// add a page (required with recent versions of tcpdf) 
$tcpdf->AddPage(); 

// Now you position and print your page content 
// example:  
//$tcpdf->SetTextColor(0, 0, 0); 
$tcpdf->SetFont($textfont); 
//$tcpdf->Cell(0,14, "Hello World", 0,1,'L'); 
// ... 
// etc. 
// see the TCPDF examples  
$tcpdf->setAutoPageBreak(true);
//$tcpdf->SetFooterMargin(20);
$tcpdf->SetAutoPageBreak( true, 20 );
$no_js = true;




// Print text using writeHTMLCell()
//foreach($array_contetn as $cnt):;
//echo $cnt;
/*$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$array_contetn[0], $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);
$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$array_contetn[1], $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);*/
//$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$html, $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);
$tcpdf->writeHTML($html, true, 0, true, true);
//endforeach;
echo $tcpdf->Output('LabelSheet.pdf', 'D'); 

?>