
      <div class="row">   

        <div class="col-md-offset-8 col-lg-4">
<div class="panel panel-default" style="margin-top:-100px">

  <div class="panel-body form-bg text-center ">
<p>Welcome <?php echo ucfirst($this->Session->read('Auth.dataentry.fname')); ?></p>

   <?php echo $this->Html->link('Sign out', array('controller'=>'Dataentry', 'action'=>'logout'),array('class' => 'btn btn-warning btn-block'));?>
  </div>
</div>
        </div>

        </div>
 
      <div class="clearfix"></div>
      <div class="row">   

 <?php 
	   echo $this->Session->flash(); 
	   /*echo $this->Session->flash('auth');*/ ?>
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Dataentry/profile');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-user"></i></button>
    <p>Manage Profile</p>
    </a> </div>
     <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Dataentry/products');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-medkit"></i></button>
    <p>Add Products</p>
    </a> </div>
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Dataentry/manage_products');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa fa-briefcase"></i></button>
    <p>Manage Products</p>
    </a> </div>
 <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Dataentry/deactive_products');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa  fa-times-circle"></i></button>
    <p>Deactive Products</p>
    </a> </div>
     

      </div>

     
<style>
#content-area{
	background-image:none;
}
</style>