<!--  start message-green -->
<div class="alert alert-success">
<button class="close" data-dismiss="alert">&times;</button>
<strong>Success!</strong> <?php echo $message; ?>
</div>
<!--  end message-green -->