<style type="text/Css">

.test1
{
    border: solid 1px #FF0000;
    background: #FFFFFF;
    border-collapse: collapse;
}
.pdf-txt{
    font-family:sans-serif; padding: 5px 2px 2px 12px;font-size: 8px !important; font-weight: normal;font-family: sans-serif;
}
</style>

 <?php //echo $this->Html->css(array('bootstrap.min'));?>
<div style="font-size: 12px">
    <table width="800" border="0" cellspacing="0" cellpadding="0" class="pdf-inv">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td width="500" align="center"><img width="169px" src="http://jdpwholesaler.com/img/logo.jpg" alt="" class="img-responsive">
        <h2>INVOICE </h2></td>
      
      </tr>
      <tr>
      <td  align="right" >
     <small>Date :   <?php echo date('m/d/Y',strtotime($Orderdetail['Order']['createddt']));?></small>,&nbsp;&nbsp;&nbsp;<small>INVOICE/ORDER NO : <?php echo $Orderdetail['Order']['tmporderid'];?>-<?php echo $sno?> </small>
      </td>
      
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td>From:</td>
    <td>To:</td>
    </tr>
   
      <tr style="font-size:10px">
          <td width="400" style="padding: 5px 2px 2px 12px;font-size: 8px;font-weight: normal;font-family: sans-serif;"><b>JD Pharmaceutical Inc.</b><br>
6034 San Fernando Road<br>
Glendale, CA 91202<br>
State No: WLS 6124<br>
Tel.818.956.0578<br>
Fax.818.956.0721<br>
Email : info@jdpwholesaler.com<br>
Website : www.jdpwholesaler.com</td>
        <td width="400" valign="top" style="padding: 5px 2px 2px 12px; padding-right:10;font-size: 8px;font-weight: normal;font-family: sans-serif;"><?php echo $Orderdetail['User']['fname'];?>, <br /><?php echo $Orderdetail['User']['address'];?><br><?php echo $Orderdetail['User']['city'];?>, <?php echo $Orderdetail['User']['state'];?>, <?php echo $Orderdetail['User']['zip_code'];?><br />
            State No : <?php echo $Orderdetail['User']['state_no'];?>
                 <br />
                State Exp : <?php echo date("m-d-Y",strtotime($Orderdetail['User']['state_no_exp']));?>
                <br />
                D.E.A No : <?php echo $Orderdetail['User']['den_no'];?>
                 <br />
                D.E.A Exp : <?php echo date("m-d-Y",strtotime($Orderdetail['User']['den_no_exp']));?>
                <!-- <br />
               Business name : <?php echo $Orderdetail['User']['contact_name'];?>
-->               <br />
Tel : <?php echo $Orderdetail['User']['phone'];?><br>Fax : <?php echo $Orderdetail['User']['fax'];?></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="800"  border="0" cellspacing="0" cellpadding="0" class="pdf-txt">
    <tr><td colspan="5">&nbsp;</td></tr>
      <tr>
          <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle" align="center">&nbsp;Item(s)</th>
        <th width="150" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle">&nbsp;Description</th>
        <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle"  align="center">&nbsp;Qty</th>
        <th width="80" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle" align="center"  >&nbsp;Original Price</th>
        <th width="90" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle"  align="center">&nbsp;Special Discount</th>
        <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle"  align="center">&nbsp;Price</th>
        <th width="100" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px"  valign="middle" align="center">&nbsp;Sub- Total</th>
      </tr>
      <?php $i=0;$slno=1;
                      $product_price=0;
                     // $qq=  print_r($Orderdetail['OrderdetailMany']);
                      //  echo '==>'.count($Orderdetail['OrderdetailMany']);
					  $i=0;
				//$slno=1;
				$product_price=0;
				$from_sn=($sno*5-5);
				$to_sn=$sno*5;
				foreach($Orderdetail['OrderdetailMany'] as $key=>$orderdeatils){
					//echo($key.'>='.$from_sn.' and '.$key.'<'.$to_sn);
					if($key>=$from_sn and $key<$to_sn){
					$priice=$priice+($orderdeatils['price']*$orderdeatils['quantity']);
					$orginal_price=($orderdeatils['original_price']>0)?($orderdeatils['original_price']):$orderdeatils['price'];
				 ?> 
      <tr nobr="true">
          <td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc;  line-height: 14px"><?php echo $orderdeatils['Product']['itemnumber']?></td>
        <td align="left" width="150"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px"><?php echo $orderdeatils['Product']['productname']?><?php echo $orderdeatils['Product']['product_ndc']?></td>
        <td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px"><?php echo $orderdeatils['quantity']?></td>
        <td align="center" width="80"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px">$<?php echo $orginal_price?></td>
        <td align="center" width="90"  class="pdf-txt" style="border-bottom: 1px solid #cccccc;  line-height: 14px"><?php echo $orderdeatils['special_discount']?>%</td>
        <td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc;  line-height: 14px">$<?php echo $orderdeatils['price']?></td>
        <td align="center" width="100"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px;">$<?php echo $orderdeatils['quantity']*$orderdeatils['price']?></td>
      </tr>
       <?php } }?>
      <tr style="background:#D7D7D7 ">
        <td width="50"   >&nbsp;</td>
         <td width="50"  >&nbsp;</td>
        <td width="100"  >&nbsp;</td>
        <td width="100"  >&nbsp;</td>
        <td width="50"   >&nbsp;</td>
        <td width="100"  align="right" class="pdf-txt" ><strong>Grand Total:</strong></td>
        <td width="100"  ><strong> $<?php  echo $priice?></strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
      <td>&nbsp;</td>
  </tr>
</table>    
</div>
