<style type="text/Css">

.test1
{
    border: solid 1px #FF0000;
    background: #FFFFFF;
    border-collapse: collapse;
}
.pdf-txt{
    font-family:sans-serif; padding: 5px 2px 2px 12px;font-size: 8px !important; font-weight: normal;font-family: sans-serif;
}
</style>

 <?php //echo $this->Html->css(array('bootstrap.min'));?>
<div style="font-size: 12px">
    <table width="800" border="0" cellspacing="0" cellpadding="0" class="pdf-inv">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td width="500" align="center"><img width="169px" src="http://jdpwholesaler.com/img/logo.jpg" alt="" class="img-responsive">
        <h2>INVOICE </h2></td>
      
      </tr>
      <tr>
      <td  align="right" >
      </td>
      
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td>From:</td>
    <td>To:</td>
    </tr>
   
      <tr style="font-size:10px">
          <td width="400" style="padding: 5px 2px 2px 12px;font-size: 8px;font-weight: normal;font-family: sans-serif;"><b>JD Pharmaceutical Inc.</b><br>
6034 San Fernando Road<br>
Glendale, CA 91202<br>
State No: WLS 6124<br>
Tel.818.956.0578<br>
Fax.818.956.0721<br>
Email : info@jdpwholesaler.com<br>
Website : www.jdpwholesaler.com</td>
        <td width="400" valign="top" style="padding: 5px 2px 2px 12px; padding-right:10;font-size: 8px;font-weight: normal;font-family: sans-serif;"><?php echo $user_info['User']['fname'];?>, <br /><?php echo $user_info['User']['address'];?><br><?php echo $user_info['User']['city'];?>, <?php echo $user_info['User']['state'];?>, <?php echo $user_info['User']['zip_code'];?><br />
            State No : <?php echo $user_info['User']['state_no'];?>
                 <br />
                State Exp : <?php echo date("m-d-Y",strtotime($user_info['User']['state_no_exp']));?>
                <br />
                D.E.A No : <?php echo $user_info['User']['den_no'];?>
                 <br />
                D.E.A Exp : <?php echo date("m-d-Y",strtotime($user_info['User']['den_no_exp']));?>
                <!-- <br />
               Business name : <?php echo $user_info['User']['contact_name'];?>
-->               <br />
Tel : <?php echo $user_info['User']['phone'];?><br>Fax : <?php echo $user_info['User']['fax'];?></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="800"  border="0" cellspacing="0" cellpadding="0" class="pdf-txt">
    <tr><td colspan="5">&nbsp;</td></tr>
      <tr>
      <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle" align="center">&nbsp;ORDER NO</th>
          <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle" align="center">&nbsp;Item(s)</th>
        <th width="150" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle">&nbsp;Description</th>
        <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle"  align="center">&nbsp;Qty</th>
        <th width="80" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle" align="center"  >&nbsp;Original Price</th>
        
        <th width="50" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px" valign="middle"  align="center">&nbsp;Price</th>
        <th width="100" bgcolor="#D7D7D7" class="pdf-txt" style="line-height: 18px"  valign="middle" align="center">&nbsp;Sub- Total</th>
      </tr>
      <?php $i=0;$slno=1;
                      $product_price=0;
                     // $qq=  print_r($Orderdetail['OrderdetailMany']);
                      //  echo '==>'.count($Orderdetail['OrderdetailMany']);
					  $priice=0;
				foreach($csvdata as $orderdeatils){
					$priice=$priice+($orderdeatils['Price']*$orderdeatils['Quantity']);
					$orginal_price=($orderdeatils['original_price']>0)?($orderdeatils['original_price']):$orderdeatils['Price'];
				 ?> 
      <tr nobr="true">
      		<td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc;  line-height: 14px"><?php echo $orderdeatils['Order']?></td>
          <td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc;  line-height: 14px"><?php echo $orderdeatils['Item Number']?></td>
        <td align="left" width="150"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px"><?php echo $orderdeatils['Product Name']. $orderdeatils['Product NDC']?></td>
        <td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px"><?php echo $orderdeatils['Quantity']?></td>
        <td align="center" width="80"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px">$<?php echo $orginal_price?>'</td>
       
        <td align="center" width="50"  class="pdf-txt" style="border-bottom: 1px solid #cccccc;  line-height: 14px">$<?php echo $orderdeatils['Price']?></td>
        <td align="center" width="100"  class="pdf-txt" style="border-bottom: 1px solid #cccccc; line-height: 14px;">$<?php echo $orderdeatils['Quantity']*$orderdeatils['Price']?></td>
      </tr>
       <?php }?>
      <tr style="background:#D7D7D7 ">
        <td width="50"   >&nbsp;</td>
        <td width="50"   >&nbsp;</td>
         <td width="50"  >&nbsp;</td>
        <td width="100"  >&nbsp;</td>
        <td width="100"  >&nbsp;</td>
        <td width="50"   >&nbsp;</td>
        <td width="100"  align="right" class="pdf-txt" ><strong>Grand Total:</strong></td>
        <td width="100"  ><strong> $<?php  echo $priice?></strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
      <td>&nbsp;</td>
  </tr>
</table>    
</div>
