<?php $this->set('title_for_layout', __($pages[0]['Page']['title'],true)); ?>

<div class="row" align="justify">
<h3><?php echo $pages[0]['Page']['title']; ?></h3>
<?php echo $pages[0]['Page']['content']; ?>
</div>
