
      <div class="row">   

        <div class="col-md-offset-8 col-lg-4">
<div class="panel panel-default" style="margin-top:-100px">

  <div class="panel-body form-bg text-center ">
<p>Welcome <?php echo ucfirst($this->Session->read('Auth.Sales.fname')); ?></p>

   <?php echo $this->Html->link('Sign out', array('controller'=>'Sales', 'action'=>'logout'),array('class' => 'btn btn-warning btn-block'));?>
    
   
  </div>
</div>
        </div>

        </div>
 
      <div class="clearfix"></div>
      <div class="row">   

 <?php 
	   echo $this->Session->flash(); 
	   /*echo $this->Session->flash('auth');*/ ?>
 <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Sales/profile');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-user"></i></button>
    <p>Manage Profile</p>
    </a> </div>
    <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Sales/create_clients');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-users"></i></button>
    <p>Manage Clients</p>
    </a> </div>
  
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Sales/product_search');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-search"></i></button>
    <p>Products Search</p>
    </a> </div>
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Sales/order_history');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-bar-chart-o"></i></button>
    <p>Order Reports</p>
    </a> </div>
 <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/Sales/report_monthly');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-bar-chart-o"></i></button>
    <p>Monthly Reports</p>
    </a> </div>
      

      </div>

     
<style>
#content-area{
	background-image:none;
}
</style>



