@import url(font-awesome.min.css);

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.r{box-shadow: inset 0px 0px 10px red;}

p,h1,h2,h3,h4,h5,h6{padding: 0px; margin: 0px;}


.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}


.top-section{
  background: #EB710E;
  padding: 8px 0px 8px 0px;
}


.jdp-item-box{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 24px;
  background: #999;
}
.jdp-item-box a{
  display: block;
  text-decoration: none;
  color: #eee;
  transition:200ms ease-in;
  overflow: hidden;
  background: #444; 

}
.jdp-item-box a:hover{ background: #EB710E;}
.jdp-item-box a:hover i{
  color: #EB710E;
  transform:scale(1.15);
  transform-origin:bottom;

}

.jdp-item-box a i{
  display: block;
  font-size: 60px;
  background: #d9d9d9;
  color: #444;
  line-height: 100px;
  transition:200ms;
}

.jdp-item-box a span{
  font-size: 17px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.list-g-common a{
  border-radius: 0!important;
  transition:400ms ease-out;
}

.list-g-common a:nth-child(odd){
  border-left: 5px solid #EB710E;
}
.list-g-common a:nth-child(even){
  border-left: 5px solid #000;
}


.list-g-common a:hover, .list-g-common.current a{
   background: #EB710E;
   border-color: #EB710E;
   color: #fff;
}
.list-g-common.current a:hover{opacity: 0.6}

.btn-justified-common a{
  text-transform: uppercase;
  color: #555;
  font-size: 22px;
  line-height: 40px;
  border-radius: 0;
  transition: 500ms ease-out;
}
.btn-justified-common a:hover{
  background: #EB710E;
  border-color: #EB710E;
  color: #fff;
}

.customer-loged{margin-top: 40px;}

.customer-loged button{
  background: transparent;
  color: #fff;
}


@media(max-width: 768px){
  .btn-justified-common a{
    text-transform: uppercase;
    color: #555;
    font-size: 18px;
  }

  .logo-img{width: 200px;}
  .customer-loged{margin-top: 20px;}

}

@media (max-width: 640px){
  .btn-justified-common a{
    width: 100%!important;
    display: block!important;
  }
}

@media (max-width: 340px){
  .logo-img{width: 180px;}
  .customer-loged{margin-top: 16px;}
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #888;
  background-color: #f5f5f5;
  font-size: 12px;
  text-align: center;
}

