
      <div class="row">   

        <div class="col-md-offset-8 col-lg-4">
<div class="panel panel-default" style="margin-top:-100px">

  <div class="panel-body form-bg text-center ">
<p>Welcome <?php echo ucfirst($this->Session->read('Auth.User.fname')); ?></p>

   <?php echo $this->Html->link('Sign out', array('controller'=>'customers', 'action'=>'logout'),array('class' => 'btn btn-warning btn-block'));?>
    
   <p><?php echo $this->Html->link($cart_list.' Orders Pending', array('controller'=>'customers', 'action'=>'order_cart'),array('class' => ''));?>
</p>
  </div>
</div>
        </div>

        </div>
 
      <div class="clearfix"></div>
      <div class="row">   

 <?php 
	   echo $this->Session->flash(); 
	  /* echo $this->Session->flash('auth');*/ ?>
  <?php if($product_annouced>0){?>
  		<div class="col-sm-12 text-center"> 
 <div class="alert alert-success" style="color:#eb7228" role="alert"><b>YOUR REQUESTED ITEM IS NOW AVALABLE</b>&nbsp;&nbsp;<a href="<?php echo $this->Html->url('/customers/request_stock_announce');?>">Show</a></div> 	
 </div>
  <?php }?>
  
  <?php if(!empty($Advertise)){
	  foreach($Advertise as $adt){ ?>
	  
	  <div class="col-sm-12 text-center"> 
 <div class="alert alert-success" style="color:#000;background-color:#eb7228;" role="alert"><b><?php echo $adt['Advertise']['advertise'];?></b>&nbsp;&nbsp;</div> 	
 </div>
  		
	  <?php }
      }?>
 <!--<div class="col-sm-12 text-center"> 
 <div class="alert alert-info" style="color:#eb7228" role="alert"><b>****NOW WE CARRY A VERITY OF OTC, HBC. ****</b></div> 	
 </div>-->
<div class="col-sm-1 text-center"></div>

 <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/profile');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-user"></i></button>
    <p>Manage Profile</p>
    </a> </div>
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/product_types');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-medkit"></i></button>
    <p>Product Types</p>
    </a> </div>
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/product_search');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-search"></i></button>
    <p>Products Search</p>
    </a> </div>
  <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/order_history');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-bar-chart-o"></i></button>
    <p>Order Reports</p>
    </a> </div>
<div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/pedigree');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-th-list"></i></button>
    <p>Pedigree</p>
    </a> </div>
    
    <div class="clearfix"></div>
    <div class="col-sm-1 text-center"></div>
    <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/producta_inventory');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa fa-folder"></i></button>
    <p> Product Inventory</p>
    </a> </div>
    <div class="col-sm-2 text-center"> <a href="<?php echo $this->Html->url('/customers/dispense');?>">
    <button type="button" class="btn dash-board-btn"><i class="fa  fa-folder-open"></i></button>
    <p> Dispense</p>
    </a> </div>
    
    
 <!--  <div class="col-sm-4 text-center"><h2>TI,TH,TS ACT </h2><iframe id="htmlFrame" style="background-color:white; width:100%;height:350px; border:0;" src="/NEWSBLOG.pdf"></iframe>
</div>   -->
   <div class="clearfix"></div>
   <div class="col-sm-12 text-center">
</div>
      </div>

     
<style>
#content-area{
	background-image:none;
}
</style>



