<?php $this->set('title_for_layout', __('Terms & Conditions',true)); ?>

<div class="row" align="justify">
<h3>Terms and Condition</h3>
<p>In order for a pharmacy to be able to order from JD PHARMACEUTICAL WHOLSALER they need to meet this minimum requirements. </p>
<p>we have an online application available in our website. New customers need to fill out and fax it to us, in order for us to review and approve the application there are some mandatory question well be looking at and if they are left blank the application will get denied. </p>
<p>DEA registration, DEA EXP, FED TAX ID, STATE TAX ID, SELLERS PERMIT, SELERS EXP, PHARMACY LIC., PHARMACY EXP., MAILING ADDRESS,SHIPING ADDRESS, OWNERS SSN, DRIVERS LICENSE#, FULL NAME </p>
<p>After we get the application we check with the board to see if the information written is accurate and true. When we get the approval from the board then we go to their location by surprise and if everything is the way that should be we sit down and talk to them for their pay terms and we start sending them the drugs. </p>
<p>we may choose to stop working with them at anytime we want and we will report any kind of suspicious activity </p>
<p>we do keep track of all the lot number that any pharmacy will order for seven years, if they decide that they don't want a medication and when they return a none existing item we will send it back to them but if they return a item that it shows in our system that they bought it from us we will take it and do the returns for them </p>
</div>
