<!--  start message-yellow -->
<div class="alert">
<button class="close" data-dismiss="alert">&times;</button>
<strong>Warning!</strong> <?php echo $message; ?>
</div>
<!--  end message-yellow -->