<!--  start message-blue -->
<div class="alert alert-info">
<button class="close" data-dismiss="alert">&times;</button>
<strong>Info!</strong> <?php echo $message; ?>
</div>
<!--  end message-blue -->