   <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <?php $uid = CakeSession::read("Auth.Admin.id");?>
		  <li><a href="<?php echo $this->Html->url('/admin/users');?>"><?php echo __('Dashboard'); ?> </a></li>
           <li><a href="<?php echo $this->Html->url('/admin/users/adminusers/'.$uid);?>"><?php echo __('Profile'); ?> </a></li>
           
            <li><a href="#">Help</a></li>
            <li><?php echo $this->Html->link('Logout', array('controller'=>'users', 'action'=>'logout'),array('class' => ''));?></li>
          </ul>
          
        </div>