<div class="row">
    <div class="col-lg-12 ">
      <div class="row main-links text-center">
      
       <a style="font-size:20px; letter-spacing:0px;" href="<?php echo $this->Html->url('/customers/product_types/brand');?>" <?php if($this->params['action']=='brand'){ ?>style="color:#EB7228;" <?php } ?> >Brand&nbsp;&nbsp;</a> 
       <a style="font-size:20px; letter-spacing:0px;" href="<?php echo $this->Html->url('/customers/product_types/generic');?>" <?php if($this->params['action']=='generic'){ ?>style="color:#EB7228;" <?php } ?>>Generic&nbsp;&nbsp;</a>
        <a style="font-size:20px; letter-spacing:0px;" href="<?php echo $this->Html->url('/customers/product_types/otc');?>" <?php if($this->params['action']=='otc'){ ?>style="color:#EB7228;" <?php } ?>>OTC&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a style="font-size:20px; letter-spacing:0px;" href="<?php echo $this->Html->url('/customers/product_types/Refrigirated');?>" <?php if($this->params['action']=='Refrigirated'){ ?>style="color:#EB7228;" <?php } ?>>Refrigirated&nbsp;&nbsp;</a>
            <a style="font-size:20px; letter-spacing:0px;" href="<?php echo $this->Html->url('/customers/product_types/Controlled');?>" <?php if($this->params['action']=='Controlled'){ ?>style="color:#EB7228;" <?php } ?>>Controlled&nbsp;&nbsp;</a>
         </div>
         <br />
       <?php if(!$loggedIn){?> <!--
      <div class="main-menu">
        <ul class="nav nav-pills">
          <li ><a class="first-child" href="<?php echo $this->Html->url('/');?>">Home</a></li>
          <li><a href="<?php echo $this->Html->url('/pages/index/online_store');?>" <?php if($this->params['pass'][0]=='online_store'){ ?>style="color:#EB7228;" <?php } ?> >Online Store</a></li>
          <li><a href="<?php echo $this->Html->url('/pages/index/about_us');?>" <?php if($this->params['pass'][0]=='about_us'){ ?>style="color:#EB7228;" <?php } ?> >About Us</a></li>
          <li><a  href="<?php echo $this->Html->url('/pages/index/terms_conditions');?>" <?php if($this->params['pass'][0]=='terms_conditions'){ ?>style="color:#EB7228;" <?php } ?>>Terms and Conditions</a></li>
          <li><a class="last-child" href="<?php echo $this->Html->url('/pages/index/documents');?>" <?php if($this->params['pass'][0]=='documents'){ ?>style="color:#EB7228;" <?php } ?>>Documents</a></li>
        </ul>
      </div>-->
      <?php } ?>
    </div>
  </div>