 <!--<ul class="nav nav-sidebar">
          <?php  if($this->params['action']!='admin_manage_products' and $this->params['action']!='admin_recived_reports' and $this->params['action']!='admin_lot_history' and $this->params['action']!='admin_add_products' and $this->params['action']!='admin_deactive_products' and $this->params['action']!='admin_anda_pedigree' and $this->params['action']!='admin_qk_pedigree' and $this->params['action']!='admin_product_activites' and $this->params['action']!='admin_sold_reports' and $this->params['action']!='admin_generic_sold' and $this->params['action']!='admin_brand_sold'){?> 
          
            <li <?php if($this->params['action']=='admin_index'){ ?> class="active" <?php } ?> >
<a href="<?php echo $this->Html->url('/admin/users');?>"><?php echo __('Home'); ?> </a>
</li>
            
            <li <?php if($this->params['action']=='admin_sales_users'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/sales_users');?>"><?php echo __('Manage Sales Login'); ?> </a></li>
             <li <?php if($this->params['action']=='admin_entry_users'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/entry_users');?>"><?php echo __('Manage Data Entry Login'); ?> </a></li>
             <li <?php if($this->params['action']=='admin_client_users'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/client_users');?>"><?php echo __('Manage Client Login'); ?> </a></li>
           <li <?php if($this->params['action']=='admin_adminusers'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/adminusers');?>"><?php echo __('Manage Admin Login'); ?> </a></li>
           
            <?php }?>
             <li <?php if($this->params['action']=='admin_add_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/add_products');?>"><?php echo __('Add Products'); ?> </a></li>
              <li <?php if($this->params['action']=='admin_manage_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/manage_products');?>"><?php echo __('Manage Products'); ?> </a></li>
			<li <?php if($this->params['action']=='admin_deactive_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/deactive_products');?>"><?php echo __('Deactive Products'); ?> </a></li>
            <li <?php if($this->params['action']=='admin_product_activites'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/product_activites');?>"><?php echo __('Product Activites'); ?> </a></li>
              
              <?php  if($this->params['action']=='admin_manage_products' or $this->params['action']=='admin_recived_reports' or $this->params['action']=='admin_lot_history' or $this->params['action']=='admin_add_products' or $this->params['action']=='admin_deactive_products' or $this->params['action']=='admin_product_activites' or $this->params['action']=='admin_anda_pedigree' or $this->params['action']=='admin_qk_pedigree' or $this->params['action']=='admin_sold_reports' or $this->params['action']=='admin_generic_sold' or $this->params['action']=='admin_brand_sold'){?> 

               <li <?php if($this->params['action']=='admin_recived_reports'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/recived_reports');?>"><?php echo __('Received Item Reports'); ?> </a></li>
                <li <?php if($this->params['action']=='admin_lot_history'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/lot_history');?>"><?php echo __('Full Lot History'); ?> </a></li>
                <?php }?>
           <?php  if($this->params['action']!='admin_manage_products' and $this->params['action']!='admin_recived_reports' and $this->params['action']!='admin_lot_history' and $this->params['action']!='admin_add_products' and $this->params['action']!='admin_deactive_products' and $this->params['action']!='admin_product_activites' and $this->params['action']!='admin_anda_pedigree' and  $this->params['action']!='admin_qk_pedigree' and $this->params['action']!='admin_sold_reports' and $this->params['action']!='admin_generic_sold' and $this->params['action']!='admin_brand_sold'){?> 
  
            <li <?php if($this->params['action']=='admin_sales_report'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/sales_report');?>"><?php echo __('Manage Sales'); ?> </a></li>
             <li <?php if($this->params['action']=='admin_report_monthly'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/report_monthly');?>"><?php echo __('Monthly Report'); ?> </a></li>
            <li <?php if($this->params['action']=='admin_threshold_product'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/threshold_product');?>"><?php echo __('Threshold Product Report'); ?> </a></li>
           <li <?php if($this->params['action']=='admin_sales_report_person'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/sales_report_person');?>"><?php echo __('Reports->Sales Person'); ?> </a></li>
          
            <li <?php if($this->params['action']=='admin_stocklevel_report'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/stocklevel_report');?>"><?php echo __('Stock Reports'); ?> </a></li>
            
            <li <?php if($this->params['action']=='admin_asgin_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/asgin_products');?>"><?php echo __('Assign Products'); ?> </a></li>
            
            <li <?php if($this->params['action']=='admin_request_stock'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/request_stock');?>"><?php echo __('Request stock shold'); ?> </a></li>
            
             <li <?php if($this->params['action']=='admin_filler_sheet'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/filler_sheet');?>"><?php echo __('Filler Sheet'); ?> </a></li>
             <?php } ?>
                     </ul>-->
                     
                     
                     
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
    
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            <li <?php if($this->params['action']=='admin_index'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users');?>"><span class="glyphicon   glyphicon-home"></span><?php echo __('Home'); ?> </a></li>
            <li <?php if($this->params['action']=='admin_sales_users'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/sales_users');?>"><span class="glyphicon glyphicon-user"></span><?php echo __('Manage Sales Login'); ?> </a></li>
            <li <?php if($this->params['action']=='admin_entry_users'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/entry_users');?>"><span class="glyphicon glyphicon-user"></span><?php echo __('Manage Data Entry Login'); ?> </a></li>
             <li <?php if($this->params['action']=='admin_client_users'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/client_users');?>"><span class="glyphicon glyphicon-user"></span><?php echo __('Manage Client Login'); ?> </a></li>
              <li <?php if($this->params['action']=='admin_adminusers'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/users/adminusers');?>"><span class="glyphicon glyphicon-user"></span><?php echo __('Manage Admin Login'); ?> </a></li>
         

            <!-- Dropdown-->
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-lvl1">
                    <span class="glyphicon glyphicon-th-large"></span> Products <span class="caret"></span>
                </a>

                <!-- Dropdown level 1 -->
                <div id="dropdown-lvl1" class="panel-collapse  <?php  if($this->params['action']=='admin_manage_products' or $this->params['action']=='admin_recived_reports' or $this->params['action']=='admin_lot_history' or $this->params['action']=='admin_add_products' or $this->params['action']=='admin_deactive_products'  or $this->params['action']=='admin_anda_pedigree' or $this->params['action']=='admin_qk_pedigree' or $this->params['action']=='admin_product_activites' or $this->params['action']=='admin_sold_reports' or $this->params['action']=='admin_generic_sold' or $this->params['action']=='admin_brand_sold'){?> in  <?php }else{?>collapse<?php }?>">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li <?php if($this->params['action']=='admin_add_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/add_products');?>"><span class="glyphicon glyphicon-plus-sign"></span><?php echo __('Add Products'); ?> </a></li>
                            <li <?php if($this->params['action']=='admin_manage_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/manage_products');?>"><span class="glyphicon glyphicon-cog"></span><?php echo __('Manage Products'); ?> </a></li>                         
						 <li <?php if($this->params['action']=='admin_product_activites'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/product_activites');?>"><span class="glyphicon glyphicon glyphicon-asterisk"></span><?php echo __('Product Activites'); ?> </a></li>
                           <li <?php if($this->params['action']=='admin_recived_reports'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/recived_reports');?>"><span class="glyphicon glyphicon glyphicon-file"></span><?php echo __('Received Item Reports'); ?> </a></li>
                           <li <?php if($this->params['action']=='admin_sold_reports'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/sold_reports');?>"><span class="glyphicon  glyphicon-list-alt"></span><?php echo __('Sold Report'); ?> </a></li>
                           <li <?php if($this->params['action']=='admin_generic_sold'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/generic_sold');?>"><span class="glyphicon glyphicon glyphicon-gift"></span><?php echo __('Generic Sold Reports'); ?> </a></li>
                           <li <?php if($this->params['action']=='admin_brand_sold'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/brand_sold');?>"><span class="glyphicon glyphicon glyphicon-gift"></span><?php echo __('Brand Sold Reports'); ?> </a></li>
                <li <?php if($this->params['action']=='admin_lot_history'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/lot_history');?>"><span class="glyphicon glyphicon glyphicon-time"></span><?php echo __('Full Lot History'); ?> </a></li>
                 <li <?php if($this->params['action']=='admin_deactive_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/deactive_products');?>"><span class="glyphicon glyphicon glyphicon-remove"></span><?php echo __('Deactive Products'); ?> </a></li>
                 <li <?php if($this->params['action']=='admin_product_profit'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/product_profit');?>"><span class="glyphicon glyphicon glyphicon-usd"></span><?php echo __('Products Profit'); ?> </a></li>
                 <li <?php if($this->params['action']=='admin_anda_pedigree'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/anda_pedigree');?>"><span class="glyphicon glyphicon glyphicon-usd"></span><?php echo __('Anda Pedigree Lot'); ?> </a></li>
                  <li <?php if($this->params['action']=='admin_qk_pedigree'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/qk_pedigree');?>"><span class="glyphicon glyphicon glyphicon-usd"></span><?php echo __('QK Pedigree Lot'); ?> </a></li>
                            <!-- Dropdown level 2 -->
                            <!--<li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                    <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                </a>
                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </li>

           <!-- <li <?php if($this->params['action']=='admin_sales_report'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/sales_report');?>"><span class="glyphicon glyphicon glyphicon-shopping-cart"></span><?php echo __('Manage Sales'); ?> </a></li>-->
             <li <?php if($this->params['action']=='admin_report_monthly'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/report_monthly');?>"><span class="glyphicon glyphicon glyphicon-list-alt"></span><?php echo __('Monthly Report'); ?> </a></li>
            <li <?php if($this->params['action']=='admin_threshold_product'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/threshold_product');?>"><span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span><?php echo __('Threshold Product Report'); ?> </a></li>
           <li <?php if($this->params['action']=='admin_sales_report_person'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/sales_report_person');?>"><span class="glyphicon glyphicon glyphicon-gift"></span><?php echo __('Reports->Sales Person'); ?> </a></li>
          
          <!--  <li <?php if($this->params['action']=='admin_stocklevel_report'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/stocklevel_report');?>"><span class="glyphicon glyphicon glyphicon-stats"></span><?php echo __('Stock Reports'); ?> </a></li>-->
            
            <li <?php if($this->params['action']=='admin_asgin_products'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/asgin_products');?>"><span class="glyphicon glyphicon glyphicon-thumbs-up"></span><?php echo __('Assign Products'); ?> </a></li>
            
            <li <?php if($this->params['action']=='admin_request_stock'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/products/request_stock');?>"><span class="glyphicon glyphicon glyphicon-share-alt"></span><?php echo __('Request stock shold'); ?> </a></li>
            
             <li <?php if($this->params['action']=='admin_filler_sheet'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/filler_sheet');?>"><span class="glyphicon glyphicon glyphicon-wrench"></span><?php echo __('Filler Sheet'); ?> </a></li>
			 <li <?php if($this->params['action']=='admin_label_sheet'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/label_sheet');?>"><span class=" glyphicon  glyphicon-tasks"></span><?php echo __('Label Sheet'); ?> </a></li>
             
            <!-- <li <?php if($this->params['action']=='admin_return_credit'){ ?> class="active" <?php } ?>><a href="<?php echo $this->Html->url('/admin/orders/return_credit');?>"><span class=" glyphicon glyphicon glyphicon-thumbs-down"></span><?php echo __('Return Credit'); ?> </a></li>-->
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
    
    </div>

   
<style>
:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
  
  width: 200px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {

      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}
</style>
