


    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"profile"))?>">
            <i class="fa fa-user"></i>
            <span>Manage Profile</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"product_types"))?>">
            <i class="fa fa-medkit"></i>
            <span>Product Types</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"product_search"))?>">
            <i class="fa fa-search"></i>
            <span>Products Search</span>
          </a>
        </div>
      </div>
        <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"order_history"))?>">
            <i class="fa fa-bar-chart-o"></i>
            <span>Order History</span>
          </a>
        </div>
      </div>
        <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"pedigree"))?>">
           <i class="fa fa-th-list"></i>
            <span>Pedigree</span>
          </a>
        </div>
      </div>
        <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"producta_inventory"))?>">
           <i class="fa fa-th-list"></i>
            <span>Product Inventory</span>
          </a>
        </div>
      </div>
      
        <div class="col-sm-4 col-md-3">
        <div class="jdp-item-box">
          <a href="<?php echo $this->Html->url(array("controller"=>"customers","action"=>"new_dispense"))?>">
            <i class="fa  fa-folder-open"></i>
            <span>Dispense</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
         
      </div>
      <div class="col-sm-4 col-md-3">
        
      </div>
      
    </div>
    
   




