<?php ob_start();?>
<html>
<head>
<style>
  body { margin: 0; padding: 0; }
  table { width: 100%; height: 100%; border: none; }
  td { width: 25%; height:85pt; overflow:hidden; font-size:7px;   }
	th { width: 25%; height:85pt; overflow:hidden; }
  #page-wrapper { width: 576pt; height: 756pt; }
  td div { background-color: #eee; height: 100%;} 
 
</style>
</head>
  
<body>
<div id="page-wrapper">
	<table  style="width:100%; height:100%" border="0"   class="table" id="example">
 		<tr style='height:85pt; overflow:hidden'>
     	<td>
     	<div style="height:85pt; overflow:hidden"><b><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?></b>
        </div>
     </td>
      <td><div style="height:85pt; overflow:hidden"><b><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?></b>
        </div>
     </td>
      <td><div style="height:85pt; overflow:hidden"><b><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?></b>
        </div>
     </td>
      <td><div style="height:85pt; overflow:hidden"><b><?php echo $users[0]['User']['fname'] ?><br />
        <?php echo $users[0]['User']['CUSTOMER_NUMBER'] ?><br />
        <?php echo $users[0]['User']['address'] ?>
        </div></b>
     </td>
    </tr>
    <?php $j=0;$k=0;foreach ($users as $key1=>$user1):$j++;
   	$firsttd=true;?>
	<?php foreach ($user1['OrderdetailMany'] as $key2=>$user2): ?>
	<?php if($k==0){?><tr nobr="true" style='height:85pt; overflow:hidden'><?php } ?>
	<?php if($firsttd){
		$k++;
		$firsttd=false;?>
        <?php $td='<div style="height:85pt; overflow:hidden"><u> '.$j.' Submitted Order</u><br />
        <u>Invoice #:'.$user1["OrderDist"]["tmporderid"].'-'.date("m/d/Y",strtotime($user2['createddt'])).'<br /></u>
        </div>'; ?>
        <style>
			.container<?php echo calculate_font($td)?>{
				font-size:<?php echo calculate_font($td)?>px;
			}
		</style>
        <td class="container<?php echo calculate_font($td)?>"  style="font-size:<?php echo calculate_font($td)?>;" nobr="true"><b><?php echo $td?></b></td><?php }?>
		<?php if($k==4){ $k=0;echo "</tr><tr nobr='true' style='height:85pt; overflow:hidden'>";}?>
        <?php $td='<div style="height:85pt; overflow:hidden">'.$user2['Product']['productname'].'<br />'.$user2['Product']['product_ndc'].'<br />Rate: '.$user2['Product']['PurchasePrice'].', AWP: '.$user2['Product']['awp'].'<br />$<hr /></div>';?>
         <style>
			.container<?php echo calculate_font($td)?>{
				font-size:<?php echo calculate_font($td)?>px;
			}
		</style>
        <td class="container<?php echo calculate_font($td)?>" style='height:85pt; overflow:hidden;font-size:<?php echo calculate_font($td)?>;' nobr="true"><b><?php echo $td?></b></td><?php $k++;if($k==4){ $k=0;echo "</tr>";}?>
		<?php  endforeach;?>
		<?php
        $colspan=4-$k;
		echo (count($users)-1==$key1 and $k!=0)?"<td  colspan='".$colspan."'><div style='height:85pt; overflow:hidden'>&nbsp;</div></td></tr>":"";?>
   <?php endforeach;?>
   </table>
   </div>
  </body>
  </html>
<?php   $html = ob_get_clean();
     $html=utf8_encode($html);
?>
<?php App::import('Vendor','xtcpdf');  
define ("PDF_PAGE_FORMAT", "Letter"); 
$tcpdf = new XTCPDF(PDF_PAGE_ORIENTATION, PDF_UNIT, "Letter", true, 'UTF-8', false); 
$textfont = 'freesans'; // looks better, finer, and more condensed than 'dejavusans' 

//$tcpdf->SetHeaderMargin(0);
 
$//tcpdf->setHeaderTemplateAutoreset(true);

//$tcpdf->SetAuthor("KBS Homes & Properties at http://kbs-properties.com"); 
//$tcpdf->SetAutoPageBreak( false ); 
//$tcpdf->setHeaderFont(array($textfont,'',40)); 
//$tcpdf->xheadercolor = array(150,0,0); 
$tcpdf->xheadertext = ''; 
$tcpdf->xfootertext = ''; 
$tcpdf->SetPrintHeader(false);
$tcpdf->SetPrintFooter(false);
// add a page (required with recent versions of tcpdf) 
$tcpdf->AddPage(); 

// Now you position and print your page content 
// example:  
//$tcpdf->SetTextColor(0, 0, 0); 
$tcpdf->SetFont($textfont); 
//$tcpdf->Cell(0,14, "Hello World", 0,1,'L'); 
// ... 
// etc. 
// see the TCPDF examples  
$tcpdf->setAutoPageBreak(true);
$tcpdf->SetFooterMargin(0);
$tcpdf->SetAutoPageBreak( true, -200 );
$no_js = true;



$y = $tcpdf->getY();
// Print text using writeHTMLCell()
//foreach($array_contetn as $cnt):;
//echo $cnt;
/*$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$array_contetn[0], $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);
$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$array_contetn[1], $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);*/

$tcpdf->writeHTMLCell($w=50, $h=130, $x=6, $y='','<div class="floatleft" style="height:130;width:30px; overflow:hidden;float:left; height:130px;font-style:italic;"><b>'.$users[0]['User']['fname'].'<br/>'.$users[0]['User']['CUSTOMER_NUMBER'].'<br/>'.$users[0]['User']['address'].'</b></div>');

$tcpdf->writeHTMLCell($w=50, $h=130, $x=57, $y='','<div class="floatleft" style="height:85pt;width:30px; overflow:hidden;float:left;height:130px;font-style:italic;"><b>'.$users[0]['User']['fname'].'<br/>'.$users[0]['User']['CUSTOMER_NUMBER'].'<br/>'.$users[0]['User']['address'].'</b></div>');

$tcpdf->writeHTMLCell($w=50, $h=130, $x=108, $y='','<div class="floatleft" style="height:130px;width:30px; overflow:hidden;float:left;height:130px;font-style:italic;"><b>'.$users[0]['User']['fname'].'<br/>'.$users[0]['User']['CUSTOMER_NUMBER'].'<br/>'.$users[0]['User']['address'].'</b></div>');

$tcpdf->writeHTMLCell($w=50, $h=130, $x=159, $y='','<div class="floatleft" style="width:130pt; overflow:hidden;float:left;height:130px;font-style:italic;"><b>'.$users[0]['User']['fname'].'<br/>'.$users[0]['User']['CUSTOMER_NUMBER'].'<br/>'.$users[0]['User']['address'].'</b></div>');



 $j=0;$k=0;
 $xlentg=6;
 $xcounter=0;
 
 $yheight=43;
 $rowcount=1;
 foreach ($users as $key1=>$user1):$j++;
   	
	 foreach ($user1['OrderdetailMany'] as $key2=>$user2): 
	 if($key2==0){
	 //for showing label start
	  $td_coulmn='<div class="floatleft" style="height:130%; overflow:hidden;"><b>'.($key1+1).' Submitted Order<br/>'.$user1['OrderDist']['tmporderid'].'</b></div>';
	 
	 		$tcpdf->writeHTMLCell($w=50, $h=130, $x=$xlentg, $y=$yheight,'<style>
			.container'.calculate_font($td_coulmn).'{
				font-size:'.calculate_font($td_coulmn).'px;
			}
		</style><div class="container'.calculate_font($td_coulmn).'" tyle="height:130%; overflow:hidden;"><b><u>'.($key1+1).' Submitted Order</u><br/><u>'.$user1['OrderDist']['tmporderid'].'</u></b></div>');

			if($xcounter==3){
			$xcounter=0;
			$xlentg=6;
			$yheight=$yheight+33;
				if($rowcount==7){
				$tcpdf->writeHTML('<br pagebreak="true"/>', true, 0, true, true);
				$yheight=11;
				$rowcount=0;
				}else{
					$rowcount++;
				}
			}else{
				$xlentg=$xlentg+51;
				$xcounter++;
			}

	 }
		
		
		//for loop for quentity
		
		for($q=0;$q<$user2['quantity'];$q++){
	 //$tcpdf->writeHTMLCell($w=50, $h=130, $x=$xlentg, $y=$yheight,'', $border=0, $ln=0, $fill=0, $reseth=false, true, $autopadding=true);
	 $td_coulmn='<div class="floatleft" style="height:130%; overflow:hidden;"><b>'.$user2['Product']['productname'].'<br/>'.$user2['Product']['product_ndc'].'<br/>Rate: '.$user2['Product']['PurchasePrice'].', AWP: '.$user2['Product']['awp'].'<br/> $________________</b></div>';
	 
	 		$tcpdf->writeHTMLCell($w=50, $h=130, $x=$xlentg, $y=$yheight,'<style>
			.container'.calculate_font($td_coulmn).'{
				font-size:'.calculate_font($td_coulmn).'px;
			}
		</style><div class="container'.calculate_font($td_coulmn).'" style="height:130%; overflow:hidden;"><b>'.$user2['Product']['productname'].'<br/>'.$user2['Product']['product_ndc'].'<br/>Rate: $'.$user2['Product']['PurchasePrice'].', AWP: '.$user2['Product']['awp'].'<br/> $________________</b></div>');

			if($xcounter==3){
			$xcounter=0;
			$xlentg=6;
			$yheight=$yheight+33;
				if($rowcount==7){
				$tcpdf->writeHTML('<br pagebreak="true"/>', true, 0, true, true);
				$yheight=11;
				$rowcount=0;
				}else{
					$rowcount++;
				}
			}else{
				$xlentg=$xlentg+51;
				$xcounter++;
			}
		}
		  endforeach; 
		  
    endforeach;

//$tcpdf->lastPage();
//$tcpdf->writeHTML($html, true, 0, true, true);
//endforeach;
//$tcpdf->SetMargins(10, 10, 10);
echo $tcpdf->Output('LabelSheet.pdf', 'D'); 

/*function calculate_font($content){
	//calclulate font
	$dfaultfont='9';
	//default box size
	$dboxsize=145;
	//curretn box size
	$cboxsize=strlen($content);
	$cvval=$cboxsize-$dboxsize;
	
	if($cvval>0){
		if($cvval<50){
			$dfaultfont=(120-$cvval)/13;
		}elseif($cvval>=50 and $cvval<10){
			$dfaultfont=(120-$cvval)/13;
		}elseif($cvval>=100 and $cvval<200){
			$dfaultfont=(120-$cvval)/13;
		}
	}
	
	return round($dfaultfont);
}
*/


function calculate_font($content){
	
	$cboxsize=strlen($content);
	$dfaultfont=8;
	if($cboxsize<=150){
		$dfaultfont=8;
	}elseif($cboxsize<=200 and $cboxsize>150){
		$dfaultfont=7;
	}elseif($cboxsize<=300 and $cboxsize>200){
		$dfaultfont=6;
	}
	
	
	
	return round($dfaultfont);
}

?>