<?php ob_start();?>
<?php $k=0; foreach ($users as $userl): $k++;?>

<?php $k2=0;?>
<?php foreach ($userl as $user2): $k2++;?>
<table style="width:100%">
	<tr>
    	<td><h2>Filler Sheet</h2></td>
    	<td align="right"><img  height="70" src="http://jdpwholesaler.com/img/logo.jpg" alt="" class="img-responsive"></td>
    </tr>
    <tr>
    	<td>
        	<h4>**<?php echo $userl[0]['User']['fname']?>**<br /><?php echo $userl[0]['User']['address']?>,<?php echo $userl[0]['User']['city']?>,<?php echo $userl[0]['User']['state']?>,<?php echo $userl[0]['User']['zip_code']?>,<?php echo $userl[0]['User']['phone']?><br />DEA#: <?php echo $userl[0]['User']['den_no']?>, State#: <?php echo $userl[0]['User']['state_no']?>
            </h4>
        </td>
        <td align="right">&nbsp;</td>
     </tr>
	<tr>
    	<td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<hr />
<div style="height:5px"></div>
<table style="width:100%">
	<tr>
    	<td><h2>Order/Invoice#: <?php echo $user2['Order']['tmporderid']?></h2></td>
		<td align="right"><?php echo date("m/d/Y h:i:s a",strtotime($user2['Order']['createddt']));?></td>
    </tr>
</table>
<div>Unit count: <?php echo $user2['Order']['quantity']?>, Item type count: <?php echo $user2['Order']['itemcount']?></div>

   <table  style="width:100%; font-size:9px;" border="1" cellpadding="0" cellspacing="0" class="table table-striped table-bordered" id="example">
                <thead>
                    <tr>
                     <th style="width:5%" align="center"><?php echo __('Qty');?></th>
                        <th style="width:8%" align="center"><?php echo __('Type');?></th>
                        <th style="width:10%" align="center"><?php echo __('Item#');?></th>
                        <th style="width:10%" align="center"><?php echo __('Invoice#');?></th>
                        <th style="width:10%" align="center"><?php echo __('Vendor Name');?></th>
                        <th style="width:25%" align="center"><?php echo __(' Description ');?></th>
                        <th style="width:12%" align="center"><?php echo __('NDC');?></th> 
                        <th style="width:10%" align="center"><?php echo __('Lot#');?></th>
                        <th style="width:10%" align="center"><?php echo __('Exp.');?></th>
                    </tr>
                </thead>                
                <tbody>
                <?php if(empty($user2['OrderdetailMany'])): ?>
                    <tr>
                        <td colspan="6" class="striped-info">No record found.</td>
                    </tr>
		<?php endif;  ?>
				<?php 
				$i=0;
				$total_price=0;
				foreach ($user2['OrderdetailMany'] as $user): 
					foreach ($user['productinfo'] as $lot):
						$class =' style=" background-color:#FFFFCC"';
						if ($i++ % 2 == 0) {
							$class = ' style="background-color:#F0F0F0"';
						}
						?>
						<tr <?php echo $class;?>> 
						 <td style="width:5%" align="center"><?php echo $lot['OrderLot']['quantity'];?></td>              
						 <td style="width:8%" align="center"><?php echo $lot['ProductInfo']['Product']['producttype'];?></td>
						 <td style="width:10%" align="center"><?php echo $lot['ProductInfo']['Product']['itemnumber'];?></td>              
						 <td style="width:10%" align="center"><?php echo $lot['ProductInfo']['InvoiceNo'];?></td>
                         <td style="width:10%" align="center"><?php echo $lot['ProductInfo']['VendorName'];?></td>
                         <td style="width:25%" align="center"><?php echo $lot['ProductInfo']['Product']['productname'];?></td>
						 <td style="width:12%" align="center"><?php echo $lot['ProductInfo']['Product']['product_ndc'];?></td>
						 <td style="width:10%" align="center"><?php echo $lot['ProductInfo']['batchno'];?></td>
						 <td style="width:10%" align="center"><?php echo date("m-d-Y",strtotime($lot['ProductInfo']['expdate']));?></td>
						</tr>
                        <?php endforeach; ?>  
				<?php endforeach; ?>                
                </tbody>               
            </table>
            <?php if(count($userl)>$k2){?>
<br pagebreak="true"/>
<?php 
 }?>
			<?php endforeach;?>
 <?php if(count($users)>$k){?>
<br pagebreak="true"/>
<?php 
 }
//$array_contetn[]=$html;
endforeach;?>
<?php $html = ob_get_clean();?>
<?php App::import('Vendor','xtcpdf');  
$tcpdf = new XTCPDF(); 
$textfont = 'freesans'; // looks better, finer, and more condensed than 'dejavusans' 

//$tcpdf->SetAuthor("KBS Homes & Properties at http://kbs-properties.com"); 
$tcpdf->SetAutoPageBreak( false ); 
//$tcpdf->setHeaderFont(array($textfont,'',40)); 
//$tcpdf->xheadercolor = array(150,0,0); 
//$tcpdf->xheadertext = 'KBS Homes & Properties'; 
$tcpdf->xfootertext = 'Filled By:___________________________Verified By:_________________________________'; 
$tcpdf->SetPrintHeader(false);
$tcpdf->SetPrintFooter(true);
// add a page (required with recent versions of tcpdf) 
$tcpdf->AddPage(); 

// Now you position and print your page content 
// example:  
//$tcpdf->SetTextColor(0, 0, 0); 
$tcpdf->SetFont($textfont); 
//$tcpdf->Cell(0,14, "Hello World", 0,1,'L'); 
// ... 
// etc. 
// see the TCPDF examples  
$tcpdf->setAutoPageBreak(true);
//$tcpdf->SetFooterMargin(20);
$no_js = true;




// Print text using writeHTMLCell()
//foreach($array_contetn as $cnt):;
//echo $cnt;
/*$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$array_contetn[0], $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);
$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$array_contetn[1], $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);*/
//$tcpdf->writeHTMLCell($w=0, $h=0, $x=3, $y='',$html, $border=0, $ln=1, $fill=0, $reseth=false, $align='', $autopadding=true);
$tcpdf->writeHTML($html, true, 0, true, true);
//endforeach;
echo $tcpdf->Output('FillSheet.pdf', 'D'); 

?>